[submodule "lib/viva_glyph"]
	path = lib/viva_glyph
	url = git@github.com:gabrielmaialva33/viva_glyph.git
[submodule "lib/viva_math"]
	path = lib/viva_math
	url = git@github.com:gabrielmaialva33/viva_math.git
[submodule "lib/viva_emotion"]
	path = lib/viva_emotion
	url = git@github.com:gabrielmaialva33/viva_emotion.git
[submodule "lib/viva_aion"]
	path = lib/viva_aion
	url = git@github.com:gabrielmaialva33/viva_aion.git
